@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
  --color-grey: #f6f6f6;
}

*{
  font-family: Lato, sans-serif;
}

html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--color-grey)
}

main {
  margin-right: 64px;
}

header {
  z-index: 3;
  width: 100%;
  position: fixed;
}

.card-product{
  justify-content: space-between;
  padding: 0.5rem;
  transition: padding 0.1s;
  box-shadow: 0 0 32px 0px rgba(199, 199, 199, 0.5);
  background-color: white;
  width: 240px;
}

.card-product:hover{
  padding:0.4rem;
  box-shadow: 0 0 32px 0px rgba(199, 199, 199, 0.8);
}


.card-product-description{
  padding: 0.5rem;
  height: 120px;
}

.btn-product {
  width: 100%;
}

.btn-product-add, .btn-product-remove{
  width: 40%;
}

.table{
  
  background-color: white;
}

.card-img-product{
  object-fit: cover;
  background-color: var(--color-grey);
  height: 200px;
  cursor: pointer;
}

/* Product Grid */
.product-grid {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 32px 32px;

}

@media screen and (max-width: 550px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 16px 16px;
    padding: 16px;
  }
  .card-img-product{
    object-fit: cover;
    background-color: var(--color-grey);
    height: 150px;
    cursor: pointer;
  }

  .card-product-description{
    height: 90px;
  }
  .card-product{
    padding: 0.5rem;
    width: 180px;
  }
}

.loading {
  box-shadow: none;
}

div.single-result div.image {

}

.title {
  background-color: white;
  height: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

#modal-container{
  justify-content: center;
}
.modal-background {
  z-index: 1;
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.49);
}

.modal-card{
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  position: absolute;
  width: 70%;
  max-width: 800px;
  max-height: 800px;
  min-height: 350px;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.modal-card-footer{

}
@media screen and (max-width: 800px) {
  .modal-card{
    height: 200px;
  }
}
@media screen and (max-width: 550px) {
  .modal-card{
    width: 85%;
  }
  .modal-price{
    font-size: 1rem;
  }
}

.modal-origin{
  font-size: 0.8rem;
  text-align: center;
}
.modal-card-title{
  text-align: center;
}

.modal-card-description{
  height: 100%;
}

.modal-image .loading{
  background-color: black;
}

.modal-price{
  display: inline;
  font-weight: 800;
  font-size: 2rem;
}

.modal-info{
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-product-controls{
  display: flex;
  justify-content: space-around;
}


.main-grid{
  padding-top: 64px;
  display: flex;
}

.shoppingcart{
  align-items: center;
  display: flex;
}

.shoppingCart-counter{
  font-size: 1rem;
  background-color: var(--bs-primary);
}

.pop {
  z-index: 2;
}

.sidebar{
  padding-left: 32px;
  padding-top: 64px;
  width: 350px;
  height: auto;
  background-color: var(--color-grey)
}

.sidebar > h6{
  margin-top: 24px;
}
.modal-image {
  width: 100%;
  height: 100%;
  z-index: 2;
}

img.modal-image  {
  background-color: white;
  object-fit: cover;
  overflow: hidden;
}

.modal-price-container{
  display: flex;
  flex-direction: row;
}

.modal-price-container > p{
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.blurred {
  /* filter: blur(1px); */
}

.disable-link {
    pointer-events: none;
}

.checkoutItem{
  text-align: center;
  display: flex;
  flex-direction: row;
}

.btn-checkout{
  text-align: center;
  margin-left: 10px;
}

.banner-container{
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 8px;
}

.banner-image{
  object-fit: cover;
  width: 100%
}
.checkoutItem{
  max-width: 500px;
  padding: 8px;
  background-color: white;
  margin-bottom: 16px;
}


.checkoutList{
  display: flex;
  flex-direction: column;
}

.checkoutList-image-container{
  height: 120px;
  width: 120px;
  overflow: hidden;
}

.checkoutList-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.checkoutList-controls{
  
}

.logo{
  height: 32px;
}