@page
@model hakims_livs.Pages.Categories.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Ta bort</h1>

<h3>Är du säker på att du vill ta bort denna kategorin?</h3>
<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Category.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Tillbaka</a>
    </form>
</div>
