@page
@using hakims_livs.Models
@model hakims_livs.Pages.Categories.IndexModel
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

@{
    ViewData["Title"] = "Index";
}

<p>
    @if (User.IsInRole("admin"))
    {
        <a asp-page="Create">Skapa en ny Kategori</a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn-sm btn-primary" asp-page="./Edit" asp-route-id="@item.ID">Ändra</a>
                <a class="btn-sm btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Ta Bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
