@page
@model hakims_livs.Models.Product

@{
    ViewData["Title"] = "Kassan";
}

<h4>Dina varor</h4>

<div class="checkoutContainer"></div>
<button class="btn btn-primary" id="clearCartButton">Töm Varukorgen</button>
<button class="btn btn-primary" id="MakeOrderButton">Betala</button>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
