@page
@model hakims_livs.Pages.Orders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Ta Bort</h1>

<h3>Är du säker på att du vill ta bort denna kunden?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Tillbaka</a>
    </form>
</div>
